<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DownBigFile.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5A105B5A1DACC22800BB1384</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5A105B731DACC22900BB1384</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5A105B7E1DACC22900BB1384</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
